.searchContainer {
  padding: 2rem 0;
  background-color: #f9f9f9;
  margin: 2rem 0;
  border-radius: 8px;
  border-left: 4px solid #43a047;
}

.searchInputContainer {
  display: flex;
  margin-top: 1rem;
}

.searchInput {
  flex-grow: 1;
  padding: 0.75rem;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.searchInput:focus {
  border-color: #43a047;
}

.searchButton {
  padding: 0.75rem 1.5rem;
  background-color: #43a047;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 1rem;
}

.searchButton:hover {
  background-color: #2e7d32;
}